{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Description }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/know/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">Get Started</a>
      <!-- <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p> -->
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <figure>
          <a href="/know/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/">
            <img src="https://firebasestorage.googleapis.com/v0/b/doks-site-74466.appspot.com/o/public%2Fpray.jpeg?alt=media&token=ba2b1f6c-b510-45a3-88d1-6404023e9744" alt="Know" style="width:300px;height:200px;">
          </a>
        </figure>
        <h2 class="h5">Know Jesus 🙏🏽</h2>
        <p>More than a historical figure, Jesus is someone you can know for yourself. <a href="/know/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/">Here</a>  is where to begin.</p>
      </div>
      <div class="col-lg-5">
        <figure>
          <a href="/understand/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/">
            <img src="https://firebasestorage.googleapis.com/v0/b/doks-site-74466.appspot.com/o/public%2Funderstand.jpeg?alt=media&token=ad2a27a1-0856-42bb-8fd2-f1ca0d3d889c" alt="Understand" style="width:300px;height:200px;">
          </a>
        </figure>
        <h2 class="h5">Understand Your World 🌏</h2>
        <p>Wise as serpents, harmless as doves, and bold as lions - understand your world by the empowerment of the Holy Spirit <a href="/understand/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/">here</a>.</p>
      </div>
      <div class="col-lg-5">
        <figure>
          <a href="/expand/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/">
            <img src="https://firebasestorage.googleapis.com/v0/b/doks-site-74466.appspot.com/o/public%2Fbrazil%20world.jpeg?alt=media&token=dcc24f2a-143e-4a3f-bf24-bb7115578300" alt="Expand" style="width:300px;height:200px;">
          </a>
        </figure>
        <h2 class="h5">Expand The Kingdom ⛰</h2>
        <p>The Great Commission is God's fool-proof plan for the Church to turn the whole world upside down. Get mobilized <a href="/expand/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/">here</a>.</p>
        </ul>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
